local-business-system/automations/01-anfrage-speichern.json
{
  "name": "01 - Formular → Airtable speichern",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "anfrage",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "webhook-anfrage",
      "name": "Webhook: Anfrage empfangen",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "anfrage"
    },
    {
      "parameters": {
        "operation": "append",
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "Anfragen",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}",
            "Telefon": "={{ $json.body.phone || '' }}",
            "Leistung": "={{ $json.body.service || '' }}",
            "Wunschtermin": "={{ $json.body.preferred_date || '' }}",
            "Status": "Neu",
            "Quelle": "={{ $json.body.source || 'Website-Formular' }}",
            "Kunde (Business)": "={{ $json.body.client || '' }}",
            "Notiz": "={{ $json.body.message || '' }}"
          }
        },
        "options": {}
      },
      "id": "airtable-speichern",
      "name": "Airtable: Anfrage speichern",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [480, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "DEINE_CREDENTIAL_ID",
          "name": "Airtable Personal Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Anfrage gespeichert' }) }}"
      },
      "id": "response-ok",
      "name": "Antwort: OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook: Anfrage empfangen": {
      "main": [
        [{ "node": "Airtable: Anfrage speichern", "type": "main", "index": 0 }]
      ]
    },
    "Airtable: Anfrage speichern": {
      "main": [
        [{ "node": "Antwort: OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "Anfragen" }]
}
