local-business-system/automations/01-anfrage-komplett.json
{
  "name": "01 - Anfrage komplett: Speichern + Benachrichtigen",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "anfrage",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook-anfrage",
      "name": "Webhook: Anfrage empfangen",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "anfrage"
    },
    {
      "parameters": {
        "operation": "append",
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "Anfragen",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}",
            "Telefon": "={{ $json.body.phone || '' }}",
            "Leistungen": "={{ $json.body.service || '' }}",
            "Wunschtermin": "={{ $json.body.preferred_date || '' }}",
            "Status": "Neu",
            "Quelle": "={{ $json.body.source || 'Website-Formular' }}",
            "Kunde (Business)": "={{ $json.body.client || '' }}"
          }
        },
        "options": {}
      },
      "id": "airtable-speichern",
      "name": "Airtable: Anfrage speichern",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [480, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "DEINE_CREDENTIAL_ID",
          "name": "Airtable Personal Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Anfrage gespeichert' }) }}"
      },
      "id": "response-ok",
      "name": "Antwort: OK an Browser",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL || 'noreply@deine-agentur.de' }}",
        "toEmail": "={{ $env.OWNER_EMAIL }}",
        "subject": "Neue Anfrage von {{ $('Webhook: Anfrage empfangen').item.json.body.name }} ({{ $('Webhook: Anfrage empfangen').item.json.body.client }})",
        "emailType": "html",
        "html": "<h2>Neue Kundenanfrage!</h2>\n<table style='border-collapse:collapse; font-family:Arial;'>\n<tr><td style='padding:8px; font-weight:bold;'>Name:</td><td style='padding:8px;'>{{ $('Webhook: Anfrage empfangen').item.json.body.name }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold;'>Telefon:</td><td style='padding:8px;'>{{ $('Webhook: Anfrage empfangen').item.json.body.phone }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold;'>Email:</td><td style='padding:8px;'>{{ $('Webhook: Anfrage empfangen').item.json.body.email }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold;'>Leistung:</td><td style='padding:8px;'>{{ $('Webhook: Anfrage empfangen').item.json.body.service }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold;'>Wunschtermin:</td><td style='padding:8px;'>{{ $('Webhook: Anfrage empfangen').item.json.body.preferred_date }}</td></tr>\n</table>\n<p><a href='https://airtable.com'>→ In Airtable öffnen</a></p>"
      },
      "id": "email-senden",
      "name": "Email: Inhaber benachrichtigen",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [720, 120],
      "credentials": {
        "smtp": {
          "id": "DEINE_SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.callmebot.com/whatsapp.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $env.OWNER_WHATSAPP }}" },
            { "name": "text", "value": "🔔 Neue Anfrage!\n\nName: {{ $('Webhook: Anfrage empfangen').item.json.body.name }}\nLeistung: {{ $('Webhook: Anfrage empfangen').item.json.body.service }}\nTelefon: {{ $('Webhook: Anfrage empfangen').item.json.body.phone }}\n\n→ Check Airtable" },
            { "name": "apikey", "value": "={{ $env.CALLMEBOT_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "whatsapp-notify",
      "name": "WhatsApp: Inhaber benachrichtigen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 480]
    }
  ],
  "connections": {
    "Webhook: Anfrage empfangen": {
      "main": [
        [
          { "node": "Airtable: Anfrage speichern", "type": "main", "index": 0 }
        ]
      ]
    },
    "Airtable: Anfrage speichern": {
      "main": [
        [
          { "node": "Antwort: OK an Browser", "type": "main", "index": 0 },
          { "node": "Email: Inhaber benachrichtigen", "type": "main", "index": 0 },
          { "node": "WhatsApp: Inhaber benachrichtigen", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "Anfragen" }, { "name": "Benachrichtigung" }]
}
