local-business-system/automations/03-follow-up.json
{
  "name": "03 - Follow-Up nach 24h (wenn Status noch 'Neu')",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "id": "schedule-check",
      "name": "Schedule: Alle 6 Stunden prüfen",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "Anfragen",
        "filterByFormula": "AND({Status} = 'Neu', DATETIME_DIFF(NOW(), {Erstellt am}, 'hours') > 24)",
        "options": {}
      },
      "id": "airtable-check",
      "name": "Airtable: Unbeantwortete Anfragen",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [480, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "DEINE_CREDENTIAL_ID",
          "name": "Airtable Personal Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.records?.length || 0 }}",
              "operation": "largerThan",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-anfragen",
      "name": "IF: Gibt es offene Anfragen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "url": "https://api.callmebot.com/whatsapp.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $env.OWNER_WHATSAPP }}" },
            { "name": "text", "value": "⏰ Erinnerung: Du hast {{ $json.records.length }} unbeantwortete Anfrage(n) seit über 24h!\n\n→ Check dein Airtable" },
            { "name": "apikey", "value": "={{ $env.CALLMEBOT_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "whatsapp-reminder",
      "name": "WhatsApp: Erinnerung senden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [940, 200]
    }
  ],
  "connections": {
    "Schedule: Alle 6 Stunden prüfen": {
      "main": [
        [{ "node": "Airtable: Unbeantwortete Anfragen", "type": "main", "index": 0 }]
      ]
    },
    "Airtable: Unbeantwortete Anfragen": {
      "main": [
        [{ "node": "IF: Gibt es offene Anfragen?", "type": "main", "index": 0 }]
      ]
    },
    "IF: Gibt es offene Anfragen?": {
      "main": [
        [{ "node": "WhatsApp: Erinnerung senden", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "Follow-Up" }]
}
