local-business-system/automations/04-bewertung.json
{
  "name": "04 - Google-Bewertung anfragen (7 Tage nach Termin)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "daysInterval": 1 }]
        }
      },
      "id": "schedule-daily",
      "name": "Schedule: Täglich prüfen",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "Anfragen",
        "filterByFormula": "AND({Status} = 'Erledigt', {Bewertung angefragt?} = FALSE(), DATETIME_DIFF(NOW(), {Datum}, 'days') >= 7)",
        "options": {}
      },
      "id": "airtable-erledigt",
      "name": "Airtable: Erledigte ohne Bewertung",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [480, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "DEINE_CREDENTIAL_ID",
          "name": "Airtable Personal Token"
        }
      }
    },
    {
      "parameters": {},
      "id": "split-items",
      "name": "Split: Pro Anfrage",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [700, 300]
    },
    {
      "parameters": {
        "url": "https://api.callmebot.com/whatsapp.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.fields.Telefon }}" },
            { "name": "text", "value": "Hallo {{ $json.fields.Name }}! 😊\n\nWir hoffen, du warst zufrieden mit deinem Besuch bei uns.\n\nWenn du einen Moment hast, würden wir uns riesig über eine Google-Bewertung freuen:\n{{ $env.GOOGLE_REVIEW_URL }}\n\nDanke dir! 💛" },
            { "name": "apikey", "value": "={{ $env.CALLMEBOT_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "whatsapp-bewertung",
      "name": "WhatsApp: Bewertung anfragen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [940, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "Anfragen",
        "id": "={{ $json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Bewertung angefragt?": true
          }
        },
        "options": {}
      },
      "id": "airtable-update",
      "name": "Airtable: Als angefragt markieren",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1180, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "DEINE_CREDENTIAL_ID",
          "name": "Airtable Personal Token"
        }
      }
    }
  ],
  "connections": {
    "Schedule: Täglich prüfen": {
      "main": [
        [{ "node": "Airtable: Erledigte ohne Bewertung", "type": "main", "index": 0 }]
      ]
    },
    "Airtable: Erledigte ohne Bewertung": {
      "main": [
        [{ "node": "Split: Pro Anfrage", "type": "main", "index": 0 }]
      ]
    },
    "Split: Pro Anfrage": {
      "main": [
        [{ "node": "WhatsApp: Bewertung anfragen", "type": "main", "index": 0 }]
      ]
    },
    "WhatsApp: Bewertung anfragen": {
      "main": [
        [{ "node": "Airtable: Als angefragt markieren", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "Bewertungen" }]
}
